//вторые по размеру заголовки
@mixin second-title{
  color: #e12457;
  font-size: 60px;
  font-weight: bold;
}

//самые маленькие заголовки
@mixin small-title{
  font-size: 24px;
  font-weight: bold;
}


//стили для абзацев
@mixin main-descr{ //азбацы
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
}